@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');
@import "tailwindcss";

/* CSS Reset */


/* Apply Sora globally */
body {
  font-family: "Sora",sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

